body{
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(rgb(243, 178, 1)  , rgb(182, 160, 34), rgba(255, 255, 255, 0.527) ); */
    background-image: radial-gradient(circle, #2c2b2b,#313131,rgb(20, 20, 20)); 
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 4px 1px 10px;
    background-color: white;
}

h2{
    margin-top: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0px;
    text-align: left;
    font-weight: bold;

}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px #ccc;
    border-radius: 6px;
}

#mensagem{
    color: red;
    margin-top: 15px;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 10px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #534d4d;
}