<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login de usuario</title>
    <link rel="stylesheet" href="/src/style/login.css">
</head>
<body>
    <div class="login-container">
        <h1></h1>
        <h2>Login</h2>
        <form action="">
            <label for="txtUsuario">Usuario</label>
            <input type="text" id="txtUsuario" placeholder="Digite o seu nome" required>
 
             <label for="Senha">Senha</label>
            <input type="password" id="txtSenha" placeholder="Digite sua senha" required>
            <button onclick="login()" type="button">Entrar</button>
        </form>
 
        <p id="mensagem"></p>
    </div>
    <script src="/login.js"></script>
</body>
</html>