main, html {
    height: 100%; /* Faz com que o <html> e o <body> ocupem 100% da altura da tela */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
}

main{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

/* para o cardápio */
main h3{
    padding-left: 30px;
    padding-top: 5px;
}

/*para o cardápio*/
main ul{
    padding-left: 45px;
} 

/* TEXTAR NO SENAI ANTES DE APAGAR */
/* .burguer{   
    height: 610px;
    background-repeat: none;
} */

.burguer {
    width: 100%;
    /* background-image: url('sua-imagem.jpg'); Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a área disponível */
    background-position: center; /* Centraliza a imagem na tela */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    height: 100vh; /* Define a altura da div para 100% da altura da viewport */
}

.quem-somos{   
    width: 100%;
    height: 150px;
      
    display: flex; 
    align-items: center;
    
    scroll-margin-top: 100px; /* altura do seu header fixo */
       
    background-image: radial-gradient(circle, #353535,#1f1f1f,rgb(20, 20, 20));
    color: white;
} 

.quem-somos div{
    width: 100%;    
    margin: 0px 5%; 
    
} 

.quem-somos p{
    padding-left: 80px;
}

.cardapio{
    scroll-margin-top: 100px; /* altura do seu header fixo */
    color: aliceblue;
}

.cardapio h1{
    padding-top: 10px;
    padding-left: 50px;
}

.cardapio li{
    padding: 2px;
}

.cardapio img{      
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardapio-lanches{   
    height: 520px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: radial-gradient(circle, #3f3e3e,#313131,rgb(44, 44, 44));
}

.cardapio-bebidas{   
    height: 520px;

    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;

    background-image: radial-gradient(circle, #2c2b2b,#313131,rgb(20, 20, 20));   
}

.cardapio-sobremesas{   
    height: 520px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: radial-gradient(circle, #3f3e3e,#313131,rgb(44, 44, 44));
}

@media (max-width: 500px) {
    .quem-somos{
        height: 100%;
        padding: 30px 0px;
    }

    .cardapio img{
        height: 200px;
    }

    .cardapio-sobremesas{
        flex-direction: column;
        padding: 40px 0px;
        gap: 50px;
    }

    .cardapio-bebidas{
        height: 100%;
        flex-direction: column;
        padding:40px 0px ;
        gap: 50px;
    }

    .cardapio-lanches{
        flex-direction: column;
        padding:40px 0px ;
        gap: 50px;
    }

    

    
}
